<template>
    <div>
        <div class="message" v-for="m in messages">{{ m.content }}<sup class="close" @click="deleteMessage(m.id)">&times;</sup></div>
        <input v-model="text" placeholder="сообщение...">
        <button @click="postMessage" :disabled="!contentExists">➣</button>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                text: '',
                messages: []
            }
        },
        computed: {
            contentExists() {
                return this.text.length > 0;
            }
        },
        methods: {
            postMessage() {
                axios.post('/api/messages', {content: this.text}).then(({data}) => {
                    this.messages.push(data);
                    this.text = '';
                });
            },
            deleteMessage(id) {
                if(confirm('Удаляем?')){
                    axios.delete('/api/messages/' + id).then(({data}) => {
                        //console.log('deleted ' + id, data, this.messages);

                        this.messages = this.messages.filter(function(m){
                            return m.id !== id;
                        });

                    });
                }

            }
        },
        created() {
            axios.get('/api/messages').then(({data}) => {
                this.messages = data;
            });
            // Registered client on public channel to listen to MessageSent event
            Echo.channel('public').listen('MessageSent', ({message}) => {
                console.log('listen MessageSent', message);
                this.messages.push(message);
            });
        }
    }
</script>

<style scoped>
    .message {
        padding: 6px 0;
        border-bottom: 1px dotted #dadada;
        position: relative;
    }
    .message .close {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 1rem;
        cursor: pointer;
    }
</style>
