<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">example-component</div>

                    <div class="card-body">
                        <p>data.foo: {{ data.foo }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState, mapMutations, mapActions} from 'vuex';

    export default {
        computed: {
            ...mapState({
                // стрелочные функции могут сделать код очень кратким
                data: state => state.data,
            })
        },
        mounted() {
            console.log('Component mounted!!!')
        },
        methods: {
            ...mapActions([
                // `mapActions` также поддерживают нагрузку (payloads):
                'saveData' // проксирует `this.setData(data)` в `this.$store.dispatch('setData', data)`
            ])
        }
    }
</script>
