<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Мой Компонент</div>

                    <div class="card-body">
                        <p><input v-model="foo"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState, mapMutations, mapActions} from 'vuex';

    export default {
        computed: {
            foo: {
                get () {
                    return this.data.foo
                },
                set (value) {
                    this.saveData({foo: value});
                }
            },
            ...mapState(['data'])
        },
        methods: {
            ...mapMutations(['setData']),
            ...mapActions(['saveData'])
        },
        created() {
            //this.saveData({foo: this.foo});
            Echo.channel('foo/bar')
                .listen('FooChange', (e) => {
                    this.setData(e.data);
                });
        }
    }
</script>
